.scrollr {
  overflow: hidden;
  position: relative;
  width: min-content;
  height: min-content;
  max-width: var(--max-width, 100%);
  max-height: var(--max-height, 600px);
  background: var(--background);
}

.track {
  position: absolute;
  cursor: var(--track-cursor);
  overflow: hidden;
  background: var(--track-color);
  transition: background var(--transition-duration, 0.2s);
  user-select: none;
}

.track.hide {
  display: none;
}

.track.x {
  left: 0;
  bottom: 0;
  width: calc(100% - var(--thickness, 3px));
  height: var(--active-thickness, var(--thickness, 10px));
}

.track.y {
  top: 0;
  right: 0;
  height: calc(100% - var(--thickness, 3px));
  width: var(--active-thickness, var(--thickness, 10px));
}

.bar {
  position: absolute;
  transition: all var(--transition-duration, 0.2s);
  outline: var(--outline);
  box-shadow: var(--shadow);
  display: block;
  background: var(--color, rgb(193, 193, 193));
  border-radius: var(--radius);
}

.track.x .bar {
  transition-property: background, height, bottom;
  min-width: var(--min-length, 30px);
  height: var(--thickness, 3px);
  bottom: var(--margin, 2px);
  cursor: var(--cursor-x, var(--cursor));
}

.track.y .bar {
  transition-property: background, width, right;
  min-height: var(--min-length, 30px);
  width: var(--thickness, 3px);
  right: var(--margin, 2px);
  cursor: var(--cursor-y, var(--cursor));
}

.track.active {
  background: var(--active-track-color, var(--track-color, rgba(241, 241, 241, 0.3)));
  z-index: 1;
}

.track.active .bar {
  background: var(--active-color, var(--color, rgb(168, 168, 168)));
  border-radius: var(--active-radius, var(--radius));
  box-shadow: var(--active-shadow, var(--shadow));
  outline: var(--active-outline, var(--outline));
}

.track.x.active .bar {
  height: var(--active-thickness, var(--thickness, 10px));
  bottom: 0;
}

.track.y.active .bar {
  width: var(--active-thickness, var(--thickness, 10px));
  right: 0;
}
